.Header {
    height: 7vh;
    z-index: 10000;
    position: relative;
    width: 100vw;
    padding:5px;
    padding-bottom: 0;
    background-color:#0E1318 ;
    display: flex;
    justify-content: flex-end;
    -webkit-app-region:drag;
    .option{
        -webkit-app-region:no-drag;
        margin: 0 10px;
        cursor: pointer;
    }

    .option:hover {background-color:'white';}
    .menu {
        position: absolute;
        left:10px;
    }

}